@use '@abstracts/variables' as vars;

%button {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-block: 14px;
	padding-inline: max(3.15rem, 26px);
	border-radius: 5.3rem;
	span {
		margin-bottom: 3%;
	}
}

.button {
	&--blue {
		@extend %button;
		background-color: vars.$primary-500;
		color: #fff;
		stroke: #fff;
		&:hover {
			background-color: vars.$primary-900;
		}
	}
	&--outlined {
		@extend %button;
		background-color: #fff;
		border: 1px solid vars.$border-color;
		stroke: vars.$primary-950;
		&:hover {
			background-color: vars.$border-color;
		}
	}
}
