@use '@abstracts/mixins' as mix;
@use '@abstracts/variables' as vars;

.icon-star {
	width: max(2.4rem, 20px);
}
.icon-arrow {
	width: max(2.4rem, 20px);
}
.icon-container {
	border-radius: 50%;
	background-color: vars.$primary-50;
	@include mix.flex-center;
}
