.section-header {
	align-self: center;
	display: flex;
	flex-direction: column;
	gap: max(2rem, 10px);
	text-align: center;
	align-items: center;
	h2 {
		max-width: 25ch;
	}
	p {
		max-width: 52ch;
	}
}
