@use '@abstracts/variables' as vars;

%heading {
	font-weight: bold;
}
.heading-1 {
	@extend %heading;
	font-size: max(5.5rem, 40px);
	line-height: 1.2;
	color: vars.$primary-600;
}

.heading-2 {
	@extend %heading;
	font-size: max(4.4rem, 24px);
	line-height: 1.4;
	color: vars.$primary-600;
}

.heading-3 {
	@extend %heading;
	font-size: max(2.8rem, 20px);
	line-height: 1.5;
	color: vars.$primary-900;
}

.heading-4 {
	@extend %heading;
	font-size: max(2.3rem, 20px);
	line-height: 1.2;
	color: vars.$primary-900;
}

.heading-5 {
	font-weight: 500;
	font-size: max(1.8rem, 18px);
	line-height: 1.2;
	color: vars.$primary-800;
}

.body-14 {
	font-size: max(1.4rem, 14px);
	line-height: 1.4;
}
