@use '@abstracts/variables' as vars;

%heading {
	font-weight: bold;
}
.heading-1 {
	@extend %heading;
	font-size: 5.5rem;
	line-height: 1.2;
	color: vars.$primary-600;
	margin-bottom: 2rem;
}

.heading-2 {
	@extend %heading;
	font-size: 4.4rem;
	line-height: 1.4;
	color: vars.$primary-600;
}

.heading-3 {
	@extend %heading;
	font-size: 2.8rem;
	line-height: 1.5;
	color: vars.$primary-900;
}

.heading-4 {
	@extend %heading;
	font-size: 2.3rem;
	line-height: 1.2;
	color: vars.$primary-900;
}

.heading-5 {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 1.2;
	color: vars.$primary-800;
}

.body-14 {
	font-size: max(1.4rem, 14px);
	line-height: 1.4;
}
