// Define font-face for each OktaNeue variant
@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-ExtraLightItalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-Heavy.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-HeavyItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-Normal.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-NormalItalic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-RegularItalic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-ThinItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-UltraLight.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'OktaNeue';
	src: url('@/fonts/OktaNeue-UltraLightItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}
