@use '@abstracts/variables' as vars;
@use '@abstracts/mixins' as mix;

.container {
	display: flex;
	flex-direction: column;
	gap: 6rem;
}
.hero {
	aspect-ratio: 1440/1239;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 5.6rem;
	background-color: #f9f9f9;
	&__image {
		z-index: 1;
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		animation: scale-appear-95 1s 0.55s backwards;
	}
	&__content {
		z-index: 1;
		align-self: center;
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
		$header-anim-duration: 0.4s;
		& > * {
			animation: slide-from-bottom-20 0.5s backwards;
			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					animation-delay: 0.1s * ($i - 1) + $header-anim-duration;
				}
			}
		}
		p {
			max-width: 50ch;
		}
	}
	&__buttons {
		margin-top: 3rem;
		display: flex;
		gap: 2rem;
		& > * {
			padding-block: 1rem;
		}
	}
	&__title {
		font-weight: bold;
		font-size: 5.5rem;
		line-height: 1.2;
		color: vars.$primary-600;
		margin-bottom: 2rem;
	}
}
.essentials {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	margin-inline: vars.$spacing;
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 2.2rem;
	}
	&__item {
		border-radius: 2rem;
		border: 1px solid vars.$border-color;
		padding-inline: 3rem;
		padding-block: 5.7rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 2.4rem;
		&-box {
			width: 7.2rem;
			height: 7.2rem;
		}
		&-content {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
		&-icon {
			width: 3.2rem;
		}
	}
}
.facilities {
	display: flex;
	flex-direction: column;
	gap: 6rem;
	margin-inline: 8rem;
	&__item {
		background-color: vars.$primary-50;
		padding: 1.95rem;
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
		border-radius: 2rem;
		overflow: hidden;
		&-content {
			display: flex;
			flex-direction: column;
			gap: 1.6rem;
			align-items: flex-start;
		}
		&-label {
			border-radius: 4.7rem;
			padding-inline: 0.8rem;
			padding-block: 0.2rem;
			padding-bottom: 0.5rem;
			color: #fff;
			background-color: vars.$primary-600;
			font-size: 1.4rem;
		}
		&-image {
			border-radius: 1.8rem;
			box-shadow: -8px 63px 80px -20px #b7d6ea99;
		}
	}
	&__list {
		display: grid;
		gap: 2rem;
		overflow: hidden;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}
.mockup-container {
	position: relative;
	border-radius: 2.5rem;
	width: 100%;
	background-color: #fbfbfb;
	& > * {
		position: absolute;
	}
}
.mockup-image {
	width: 75%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.events {
	display: flex;
	flex-direction: column;
	gap: 10rem;
	margin-inline: vars.$spacing;
	&__card {
		z-index: 2;
		width: 63%;
		filter: drop-shadow(28px 61px 100px #16112e33);

		&:first-child {
			left: 0;
			top: 10%;
			left: -10%;
		}
		&:nth-child(2) {
			right: -10%;
			bottom: -10%;
		}
	}
	&__container {
		display: grid;
		grid-template-columns: 1fr 1.09fr;
		gap: 12rem;
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		&-header {
			align-self: stretch;
			text-align: left;
			align-items: stretch;
		}
	}
	&__list {
		display: flex;
		gap: 6rem;
	}
	&__item {
		display: flex;
		flex-direction: column;
		h5 {
			margin-bottom: 0.8rem;
		}
		&-box {
			margin-bottom: 1.8rem;
			width: 6rem;
			height: 6rem;
		}
		&-icon {
			width: 2.8rem;
		}
	}
}
.book {
	margin-inline: vars.$spacing;
	display: grid;
	grid-template-columns: 1.33fr 1fr;
	gap: 4.2rem;
	&__content {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		align-self: center;
	}
	&__calendar {
		width: 65%;
		right: -16.7%;
		bottom: 9%;
		filter: drop-shadow(-28px 61px 100px #16112e33);
	}
	& > *:last-child {
		aspect-ratio: 436/400;
	}
}
.reviews {
	display: flex;
	flex-direction: column;
	gap: 6rem;
	h2 {
		align-self: center;
	}
	&__list {
		display: flex;
		gap: 2rem;
		@include mix.flex-scroll;
	}
	&__item {
		background-color: vars.$primary-50;
		border-radius: 2rem;
		padding: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width: 400px;
		aspect-ratio: 400/378;

		&-top {
			display: flex;
			flex-direction: column;
			gap: 3rem;
		}
		&-feedback {
			display: flex;
			gap: 1rem;
		}
		&-stars {
			display: flex;
			gap: max(0.2rem, 2px);
		}
		&-rating {
			font-size: max(1.8rem, 16px);
			color: vars.$primary-900;
			font-weight: 500;
		}
		&-bottom {
			display: flex;
			gap: 1.2rem;
		}
		&-pfp {
			width: 5.8rem;
			height: 5.8rem;
			border-radius: 50%;
		}
		&-info {
			align-self: center;
			display: flex;
			flex-direction: column;
			// justify-content: space-between;
			gap: max(0.6rem, 5px);
		}
		&-quotes {
			align-self: center;
			width: 4rem;
			margin-left: auto;
		}
	}
}
.cta {
	background-image: url('../images/gradient.jpg');
	background-size: cover;
	background-position: center;
	padding-inline: vars.$spacing;
	margin-inline: vars.$spacing;
	border-radius: 3rem;
	aspect-ratio: 1063/451;
	@include mix.flex-center;

	&__content {
		margin-top: 5%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 1.2rem;
		button {
			margin-top: 3.3rem;
		}
	}
}
