@use '@abstracts/variables' as vars;
@use '@abstracts/mixins' as mix;

#app {
	padding-bottom: max(4rem, 20px);
	overflow: hidden;
}
.container {
	display: flex;
	flex-direction: column;
	gap: 6rem;
}
.hero {
	aspect-ratio: 1440/1239;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 5.6rem;
	background-color: #f9f9f9;
	@media screen and (max-width: vars.$bp-small-mobile) {
		aspect-ratio: 375/812;
		overflow: hidden;
	}
	&__image {
		z-index: 1;
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		animation: scale-appear-95 1s 0.55s backwards;
	}
	&__content {
		z-index: 1;
		align-self: center;
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
		gap: max(2rem, 16px);
		$header-anim-duration: 0.4s;
		@media screen and (max-width: vars.$bp-small-mobile) {
			padding-inline: 20px;
		}
		& > * {
			animation: slide-from-bottom-20 0.5s backwards;
			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					animation-delay: 0.1s * ($i - 1) + $header-anim-duration;
				}
			}
		}
		p {
			max-width: 50ch;
		}
	}
	&__buttons {
		margin-top: 1rem;
		display: flex;
		gap: max(2rem, 12px);
		@media screen and (max-width: 525px) {
			align-self: stretch;
			justify-content: center;
		}
		& > * {
			font-size: max(1.8rem, 16px);
			padding-inline: max(3.15rem, 16px);
			padding-block: max(1.4rem, 12px);
		}
	}
}
.essentials {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	@include mix.spacing(margin, 'small');
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: max(2.2rem, 22px);
		@media screen and (max-width: vars.$bp-ipad-pro) {
			@include mix.grid-scroll(312px);
		}
	}
	&__item {
		border-radius: max(2rem, 20px);
		border: 1px solid vars.$border-color;
		padding-inline: max(3rem, 16px);
		padding-block: max(5.7rem, 44px);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: max(2.4rem, 24px);
		&-box {
			width: max(7.2rem, 72px);
			height: max(7.2rem, 72px);
		}
		&-content {
			display: flex;
			flex-direction: column;
			gap: max(1rem, 10px);
		}
		&-icon {
			width: max(3.2rem, 32px);
		}
	}
}
.facilities {
	display: flex;
	flex-direction: column;
	gap: max(6rem, 16px);
	@include mix.spacing(margin, 'small');
	&__item {
		background-color: vars.$primary-50;
		padding: max(1.95rem, 10px);
		display: flex;
		flex-direction: column;
		gap: max(3.2rem, 16px);
		border-radius: max(2rem, 20px);
		overflow: hidden;
		&-content {
			display: flex;
			flex-direction: column;
			gap: max(1.6rem, 10px);
			align-items: flex-start;
			@media screen and (max-width: vars.$bp-ipad-pro) {
				padding-bottom: max(1.1rem, 11px);
			}
		}
		&-label {
			border-radius: max(4.7rem, 47px);
			padding-inline: max(0.8rem, 8px);
			padding-block: max(0.2rem, 2px);
			padding-bottom: max(0.5rem, 5px);
			color: #fff;
			background-color: vars.$primary-600;
			font-size: max(1.4rem, 12px);
		}
		&-image {
			border-radius: max(1.8rem, 18px);
			box-shadow: -8px 63px 80px -20px #b7d6ea99;
		}
	}
	&__list {
		display: grid;
		gap: max(2rem, 20px);
		overflow: hidden;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}
.mockup-container {
	pointer-events: none;
	position: relative;
	border-radius: max(2.5rem, 20px);
	width: 100%;
	background-color: #fbfbfb;
	aspect-ratio: 436/400;
	@media screen and (max-width: vars.$bp-large-mobile) {
		aspect-ratio: 343/314;
	}
	& > * {
		position: absolute;
	}
}
.mockup-image {
	width: 75%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.events {
	display: flex;
	flex-direction: column;
	gap: max(10rem, 70px);
	@include mix.spacing(margin, 'large');
	&__card {
		z-index: 2;
		width: 63%;
		filter: drop-shadow(28px 61px 100px #16112e33);

		&:first-child {
			left: 0;
			top: 10%;
			left: -10%;
			@media screen and (max-width: vars.$bp-ipad-pro) {
				top: 5%;
				left: -5%;
			}
		}
		&:nth-child(2) {
			right: -10%;
			bottom: -10%;
			@media screen and (max-width: vars.$bp-ipad-pro) {
				right: -5%;
				bottom: 5%;
			}
		}
	}
	&__container {
		display: grid;
		grid-template-columns: 1fr 1.09fr;
		gap: 12rem;
		@media screen and (max-width: vars.$bp-ipad-pro) {
			gap: max(6rem, 20px);
		}
		@media screen and (max-width: vars.$bp-large-mobile) {
			grid-template-columns: 1fr;
			gap: max(6rem, 40px);
		}
	}
	&__content {
		min-width: 0;
		display: flex;
		flex-direction: column;
		gap: max(4rem, 20px);
		&-header {
			align-self: stretch;
			text-align: left;
			align-items: stretch;
		}
	}
	&__list {
		display: flex;
		gap: max(3rem, 16px);
		width: 100%;
		@include mix.flex-scroll(214px);
	}
	&__item {
		display: flex;
		flex-direction: column;

		h5 {
			margin-bottom: max(0.8rem, 8px);
		}

		&-box {
			margin-bottom: max(1.8rem, 18px);
			width: max(6rem, 60px);
			height: max(6rem, 60px);
		}

		&-icon {
			width: max(2.8rem, 28px);
		}
	}
}
.book {
	display: grid;
	grid-template-columns: 1.33fr 1fr;
	gap: 4.2rem;
	@include mix.spacing(margin, 'large');
	@media screen and (max-width: vars.$bp-large-mobile) {
		grid-template-columns: 1fr;
		gap: max(2rem, 20px);
		.mockup-container {
			order: -1;
			margin-top: 50px;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		align-self: center;
	}
	&__calendar {
		width: 65%;
		right: -16.7%;
		bottom: 9%;
		filter: drop-shadow(-28px 61px 100px #16112e33);
		@media screen and (max-width: vars.$bp-large-mobile) {
			right: -9%;
			width: 60%;
		}
	}
	& > *:last-child {
		aspect-ratio: 436/400;
	}
}
.reviews {
	display: flex;
	flex-direction: column;
	gap: 6rem;
	h2 {
		align-self: center;
	}
	&__list {
		display: flex;
		gap: 2rem;
		@include mix.flex-scroll;
	}
	&__item {
		background-color: vars.$primary-50;
		border-radius: 2rem;
		padding: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width: 400px;
		aspect-ratio: 400/378;

		&-top {
			display: flex;
			flex-direction: column;
			gap: 3rem;
		}
		&-feedback {
			display: flex;
			gap: 1rem;
		}
		&-stars {
			display: flex;
			gap: max(0.2rem, 2px);
		}
		&-rating {
			font-size: max(1.8rem, 16px);
			color: vars.$primary-900;
			font-weight: 500;
		}
		&-bottom {
			display: flex;
			gap: 1.2rem;
		}
		&-pfp {
			width: 5.8rem;
			height: 5.8rem;
			border-radius: 50%;
		}
		&-info {
			align-self: center;
			display: flex;
			flex-direction: column;
			// justify-content: space-between;
			gap: max(0.6rem, 5px);
		}
		&-quotes {
			align-self: center;
			width: 4rem;
			margin-left: auto;
		}
	}
}
.cta {
	margin-top: max(5rem, 50px);
	border-radius: 3rem;
	position: relative;
	background-color: vars.$primary-100;
	display: grid;
	aspect-ratio: 1063/451;
	grid-template-columns: 0.75fr 1fr;
	@include mix.spacing(margin, 'large');
	@media screen and (max-width: 700px) {
		grid-template-columns: 1fr;
		aspect-ratio: 343/431;
		overflow-x: clip;
	}

	&__left,
	&__right {
		z-index: 2;
	}
	&__left {
		height: 100%;
		width: 100%;
		position: relative;
		@media screen and (max-width: 700px) {
			padding-inline: max(2.5rem, 25px);
			aspect-ratio: 302/230;
			&::after {
				content: '';
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(180deg, rgba(204, 239, 255, 0) 41.67%, #ccefff 91.88%);
			}
			& > * {
				grid-area: 1/1/2/2;
			}
		}
	}
	&__card {
		filter: drop-shadow(28px 61px 100px #16112e33);
		z-index: 2;
		position: absolute;
		bottom: 16%;
		left: -10%;
		width: 80%;
		@media screen and (max-width: 700px) {
			display: none;
		}
	}
	&__mockup {
		@media screen and (min-width: 700px) {
			width: 120%;
			left: -15%;
			position: absolute;
			bottom: 0;
		}
		@media screen and (max-width: 700px) {
			width: 100%;
			height: auto;
			left: 0;
			position: absolute;
			bottom: 0;
		}
	}
	&__vector {
		border-radius: inherit;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: auto;
		height: 100%;
	}
	&__right {
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
		@media screen and (max-width: vars.$bp-ipad-pro) {
			gap: max(1.6rem, 16px);
		}
		@media screen and (max-width: 700px) {
			padding-inline: max(1rem, 10px);
			align-items: center;
			text-align: center;
			padding-bottom: max(2rem, 20px);
			margin-top: -8%;
		}
		button {
			margin-top: 2.2rem;
			@media screen and (max-width: vars.$bp-ipad-pro) {
				margin-top: 0;
				padding-block: 12px;
				min-width: 172px;
			}
		}
	}
}
